:root {
    --text-main-color: #ffff;
    --text-secondary-color: #0e0e0e;
    --background-main-color: rgb(255, 255, 255);
    --background-secondary-color: #34343470;
    --cards-color: #f4f4f4;
    --main-color: #086696;
    --shadow-first-background-color: #000000c8;
    --shadow-second-background-color: #000000a8;
    --transation: 0.3s;
    --margin-top-large: 70px;
    --margin-top-small: 75px;
    --border-radius: 8px;
}
.board{
    text-align: center;
    font-weight: 900 !important;
    color: var(--main-color);
    font-size: 2rem !important;
    margin-top: 10px !important;
    padding-top: 30px;
  }
.pd{

    display:inline-block ;
    align-items: center;
    justify-content: center;
    
}
.pdumg{
    background-color: #5959593f;
    border-bottom: 60px !important;
    /* margin-bottom: 40px; */
    align-items: center;
    justify-content: center;

}
.container1{
margin-left: 4% !important;
/* margin-right: 10%; */
}
.pd img {
    width: 250px;
    height: 300px;
    border-radius: 20px;
    margin-top: 25px !important;
    margin-bottom: 30px !important;
    margin: 2%;

}




            .img2{
        background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("images/1001.png")
        no-repeat 50% 50% / cover;
        height: 400px !important;
    }
            .img3{
            background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
            url("images/1002.png")

            no-repeat 50% 50% / cover;
            height: 400px !important;
        }
            .img4{
                background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("images/1003.png")

                no-repeat 50% 50% / cover;
                height: 400px !important;
            }
            .img5{

                background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("images/1004.png")

                no-repeat 50% 50% / cover;
                height: 400px !important;
            }
            .img6{

                background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("images/1004.png")

                no-repeat 50% 50% / cover;
                height: 400px !important;
            }
            .img7{

                background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("images/1004.png")

                no-repeat 50% 50% / cover;
                height: 400px !important;
            }
            .img8{

                background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("images/1005.png")

                no-repeat 50% 50% / cover;
                height: 400px !important;
            }
            .img9{

                background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("images/1006.png")

                no-repeat 50% 50% / cover;
                height: 400px !important;
            }
            .img10{

                background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("images/1007.png")

                no-repeat 50% 50% / cover;
                height: 400px !important;

            }
            .img11{

                background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("images/1008.png")

                no-repeat 50% 50% / cover;
                height: 400px !important;
            }
            .img12{

                background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("images/1009.png")

                no-repeat 50% 50% / cover;

                height: 400px !important;
            }
            .img13{

                background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("images/1010.png")

                no-repeat 50% 50% / cover;

                height: 400px !important;
            }
            .img14{

                background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("images/1012.png")

                no-repeat 50% 50% / cover;

                height: 400px !important;
            }
            .img15{

                background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("images/1013.png")

                no-repeat 50% 50% / cover;

                height: 400px !important;
            }
            .img16{

                background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("images/1014.png")

                no-repeat 50% 50% / cover;

                height: 400px !important;
            }
            .img17{

                background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("images/1015.png")
                no-repeat 50% 50% / cover;
                height: 400px !important;
                height: 400px !important;
            }
            .img18{

                background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("images/1016.png")
                no-repeat 50% 50% / cover;
                height: 400px !important;
                
            }

            img:hover{
                transform: scale(1.1);
            }

@media only screen and (max-width: 600px) {
    .pd{
        margin-left: 13% !important;
        display:inline-block ;
        
    }
    .container{
        margin: 20px !important;
    }
} 
/* @media (min-width:601px) and (max-width:767px) {

    .pd{
        margin-left: 5% !important;
        margin-right: 5% !important;
        display:inline-block ;
        align-items: center;
        justify-content: center;
        
    }
    .container{
        margin-left: 5vh !important;
    }
} */

@media (min-width:768px) and (max-width:791px) {
    .pd{
        margin-left: 11% !important;
        display:inline-block ;
        
    }
    .container{
        margin: 20px !important;
    }
}


@media (min-width:792px) and (max-width:940px) {
    .pd{
        margin-left: 15% !important;
        display:inline-block ;
        
    }
    .container{
        margin: 20px !important;
    }
}

@media (min-width:1024px) and (max-width:1200px) {
    .pd{
        margin-left: 3% !important;
        display:inline-block ;
        
    }
    .container{
        margin: 20px !important;
    }
}

@media (min-width:1400px) and (max-width:3700px) {

    .pd{
        margin-left: 11% !important;
        display:inline-block ;
        
    }
    .container{
        margin: 20px !important;
    }
} /**/